footer(class="footer")
    .container
        .row 
            .footer-col-1 
                h3 About Us
                p We are a team of passionate individuals dedicated to providing the best products and services to our customers. Our mission is to enhance your shopping experience with quality and reliability.
            .footer-col-2
                img(src=settingGeneral.logo, alt="Logo") 
                p Our mission is to provide quality products at affordable prices. We believe in customer satisfaction and strive to exceed expectations with every purchase.
            .footer-col-3
                h3 Follow Us
                ul 
                    li 
                        a(href="") Facebook
                    li 
                        a(href="") Instagram
                    li 
                        a(href="") Twitter
                    li  
                        a(href="") Youtube

        hr
        .copyright 
            p Copyright © 2025. All rights reserved. | Designed by MinhThien