mixin sort()
    div(sort)
        .d-flex.align-items-center.mt-2
            select.form-control(name="sort" sort-select)
                option(value="position-desc") Position Descending
                option(value="position-asc") Position Ascending
                option(value="price-desc") Price High to Low
                option(value="price-asc") Price Low to High
                option(value="title-asc") Title A - Z
                option(value="title-desc") Title Z - A

            button.btn.btn-danger.m-2.mr-2(sort-clear) Clear
